# sudo apt install python3-venv
# python3 -m venv ~/.venv/ibkr_python
# ~/.venv/ibkr_python/bin/pip install -r /path/to/requirements.txt

ibapi
# ~/.venv/ibkr_python/bin/pip install git+https://github.com/kernc/backtesting.py.git
pandas
pandas_ta
matplotlib
scikit-learn
setuptools
nltk
# python -m nltk.downloader vader_lexicon

export PYTHONPATH=$(pwd)/ibapi